/* .headerRight {
  float: right;
  margin-top: 1rem;
} */

/* body {
  display: flex;
} */
/* ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}

ul img {
  height: 1.2rem;
} */

img {
  height: 1.2rem;
}
